@model RW.RandomNumber.Models.Game

@{
    ViewBag.Title = "Game";
}

@if (@Model == null)
{
    <h1>Welcome to Ryan's Random Number Game</h1>

    <div class="container-fluid">
        @using (@Html.BeginForm("Start", "Home"))
        {
            @Html.DropDownList("Difficulty", EnumHelper.GetSelectList(typeof(RW.RandomNumber.Models.Difficulties)), new { @class = "btn btn-primary btn-lg"})

            <button type="submit">
                <span>Start</span>
            </button>
        }
    </div>
}
else
{
    <div class="container-fluid">
        @Html.LabelFor(model => model.RemainingGuesses) : @Html.DisplayFor(model => model.RemainingGuesses)
        <br />
        Minimum Number : 1
        <br />
        @Html.LabelFor(model => model.Difficulty.MaximumNumber) : @Html.DisplayFor(model => model.Difficulty.MaximumNumber)

        @if (Model.Win)
        {
            <h2>Congratulations! You have guessed the Random Number</h2>
            <h3>Guesses Remaining : @Model.RemainingGuesses</h3>

            @Html.ActionLink("Play Again", "Index")
        }
        else
        {
            if (Model.RemainingGuesses > 0)
            {
                <div class="container-fluid">

                    @if (Model.Message != null)
                    {
                        <h3 style="color:red">@Model.Message</h3>
                    }

                    @using (@Html.BeginForm("Guess", "Home"))
                    {
                        @Html.TextBox("Guess")

                        <button type="submit">
                            <span>Guess</span>
                        </button>
                    }
                </div>
            }
            else
            {
                <h2>@Model.Message</h2>

                @Html.ActionLink("Play Again", "Index")
            }
        }
    </div>
}